main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.big-title {
    font-size: 2em;
    color: #dfdfdf;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    text-align: center;
}

button {
  border-radius: 50%;
  height: 50vmin;
  width: 50vmin;
}